<section>
	<div class="container-fluid">
		<div class="row">
	        <div class="col-md-4 col-md-offset-4" style="margin-top:150px">
	            <div class="login-panel panel panel-default" >
	                <div class="panel-heading">
	                    <h3 class="panel-title" style="text-align: center;">用户权限管理系统</h3>
	                </div>
	                <div class="panel-body">
	                    <form role="form" action="#" method="post" id="login_form">
	                        <fieldset>
	                            <div class="form-group">
	                                <input class="form-control" placeholder="userName" name="userName" autofocus>
	                            </div>
	                            <div class="form-group">
	                                <input class="form-control" placeholder="password" name="password" type="password" value="">
	                            </div>
	                            <a href="javascript:void(0)" class="btn btn-lg btn-success btn-block" onclick="doLogin()" id='loginButton'>Login</a>
	                            <div style="float:right;"><a href="/account/register">Register</a></div>
	                        </fieldset>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</section>